@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Ubuntu&display=swap');

body{
    font-family: "Montserrat", sans-serif;

}
main{
    left: 62px;
    right: 62px;
}
h1{
    font-size: 40px;
    text-align: center;
    border-bottom:1px solid #7a7a7a;
    padding-bottom: 60px;
}
h2{
    font-size: 30px;
    text-align: center;
    margin: top 75px;
}
p{
    font-size: 14px;
    text-align: center;
    align-items: center;
    width: 75%;

   
}
 /* ****GALLERIE PHOTO**** */
.grid{
    display:grid;
    grid-template-columns:318px 323px 323px 314px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    line-height: 0;
    position: relative;
  

 
}
.column-1{
width: 318px;
grid-column: 1;
height: 2544px;
position: absolute;
z-index: 2;

}
.column-2{
    width: 646px;
    margin-left: 18px;
    grid-column: 323px;
    height:2544px;
    grid-column: 2;
    position: absolute;
}
.column-3#hibou{
   grid-column: 3;
   position: absolute;
   z-index: 2;
}

.column-3{
    margin-left: 28px;
    margin-right: 18px;

    width: 318px;
    grid-column: 3;
    height: 2544px;

}
#perruche{
    margin-top:1395px
}
#bouteille{
    margin-top:18px
}
.column-4{
    margin-top: 0 px;
    margin-left: 36px;
    width: 318px;
    grid-column: 4;
    height: 2544px;
    margin-right: 65px;

}

.gallery{
    display:grid;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    margin-left: 18px;
    margin-top: 18px;  
   
    border-radius: 10px;


}


@media  (max-width: 480px) {
    main{
        max-width:300px;
    }
    .h1,.h2{
        text-align: center;
        width: 100%;
        margin:auto;

    }
      .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        
      } 
      .grid:last-child{
          display: inline-block;
      } 
    }

