@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
h1{
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
/* ********************************************************* */
main{
    width: 90%;
    /* display: flex;
    justify-content: space-between; */
    margin: 0 auto;
}

.connexion, .nouveau-compte{
    width: 42%;
    border: 1px solid black;
    margin: 100px auto;
    padding: 0 20px;
}
h2{
    margin: 40px auto;
    text-align: left;
    /* font-family: "roboto-mono";
    font-weight: 700; */
}
.connexion h2{
    margin-bottom: 15px;
}
h3{
    font-weight: 500;
    margin: 40px 0;
}
.form-connexion form, .form-nouveau-compte form{
    display: flex;
    flex-direction: column;
}
.form-connexion a{
    color: #d35379;
    margin: 10px 0;
}
.form-connexion p{
    /* color: #d35379; */
    margin: 10px 0;
    font-size: .8rem;
}
.connexion a{
    display: block;
    color: #d35379;
    margin-bottom: 40px;
    margin-left: 50%;
}
.form-connexion label, p, a{ 
    padding: 10px 0;
}
input{
    height: 2rem;
    margin-bottom: 15px;
    font-size: 1rem; 
    padding-left: 5px;
    border: 1px solid black;
    outline-color: #d35379;
}
input::placeholder {
    font-size: .9rem;
    opacity: .5;
    color: #d35379;
    padding-left: 5px;
  }
.bouton{
    display: inline-flex;
    margin-bottom: 80px;
}
.bouton p{
    color: black;
    padding: 0;
    margin: 20px;
}
.form-nouveau-compte .google{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.form-nouveau-compte .facebook{
    width: 39.8px;
    height: 30px;
    margin: 10px;
}
.form-nouveau-compte a{
    color: #d35379;
    margin: 10px 0;
} 
.form-nouveau-compte p{
    /* color: #d35379; */
    font-size: .8rem;
    margin: 10px 0;
}
.connexion-g-f hr{
    width: 20%;
    height: 1px;
}
.connexion-g-f{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-g-f{
    display: flex;
    justify-content: center;
}
.rgpd a{
    color: #d35379;
}
.form-nouveau-compte p:nth-child(4){
    /* color: #d35379; */
    font-size: .8rem;
    margin: 10px 0;
}

/* ******************************* */
/* toggle */
/* ******************************* */
input[type="checkbox"].toggle {
    display: none;
}
input[type="checkbox"].toggle + label{
    box-sizing: border-box;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    padding:2px;
    background-color: #c0ceda ;
    transition: all 0.5s ;
    margin: 20px 10px;
}

input[type="checkbox"].toggle + label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: calc(1.5rem - 4px);
    width: calc(1.5rem - 4px);
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s ;
}
input[type="checkbox"].toggle:checked + label {
    background-color: #d35379 ;
}
input[type="checkbox"].toggle:checked + label::before {
margin-left: 1.5rem ;
}

/* ******************************* */
/* button */
/* ******************************* */
main button{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 10px;
    margin: 25px auto;
    /* outline: none; */
    cursor: pointer;
    transition: transform 0.5s;
}
main button:hover{
    transform: scale(1.05);
}
