@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
main{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.superposition{
    height: 160px;
    width: 100%;
    margin-bottom: 100px;
    background-image: url("../medias/img/rectangle_22.jpg");
    background-repeat: none;
    background-size: cover;
    position: relative;
}
.superposition h1{
    display: block;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 5px 0;
    line-height: 2.8rem;
    background-color: black;
    position: absolute;
    top: 20px;
}
.superposition::after{
    content:"";
    display: block;
    width: 100%;
    height: 60px;
    background-image: url("../medias/img/dechirure-cv.webp");
    position: absolute;
    top: 120px;
}
/* ********************************** */

main{
    width: 90%;
    margin: 0 auto;
}
.connexion, .nouveau-compte{
    width: 80%;
    border: 1px solid black;
    margin: 100px auto;
    padding: 0 20px;
    /* display: flex;
    flex-direction: column; */
}
h2{
    margin: 40px auto;
    text-align: center;
}
.connexion h2{
    margin-bottom: 15px;
}
h3{
    font-weight: 500;
    margin: 40px 0;
}
.form-connexion form, .form-nouveau-compte form{
    display: flex;
    flex-direction: column;
}
.form-connexion a{
    color: #d35379;
    margin: 10px 0;
}
.form-connexion p{
    margin: 10px 0;
    font-size: .8rem;
}
.connexion a{
    display: block;
    color: #d35379;
    margin-bottom: 40px;
    margin-right: 20px;
    text-align: center;
}
.form-connexion label, .form-nouveau-compte label, p, a{ 
    padding: 10px 0;
}
input{
    height: 2rem;
    /* margin-bottom: 15px; */
    font-size: 1rem; 
    padding-left: 5px;
    border: 1px solid black;
    outline-color: #d35379;
}
input::placeholder {
    font-size: .9rem;
    opacity: .5;
    color: white;
    padding-left: 5px;
  }
.btn-toggle{
    display: flex;
    align-items: center;
}
.btn-toggle p{
    color: black;
    padding: 5px 0;
    margin: 20px;
}
.form-nouveau-compte .google{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.form-nouveau-compte .facebook{
    width: 39.8px;
    height: 30px;
    margin: 10px;
}
.form-nouveau-compte a{
    color: #d35379;
    margin: 10px 0;
} 
.form-nouveau-compte p{
    /* color: #d35379; */
    font-size: .8rem;
    margin: 10px 0;
}
.connexion-g-f hr{
    width: 20%;
    height: 1px;
}
.connexion-g-f{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.connexion-g-f p{
    text-align: center;
}
.logo-g-f{
    display: flex;
    justify-content: center;
}
.rgpd a{
    color: #d35379;
}
.form-nouveau-compte p:nth-child(4){
    font-size: .8rem;
    margin: 10px 0;
}


/* ******************************* */
/* toggle */
/* ******************************* */
input[type="checkbox"].toggle {
    display: none;
}
input[type="checkbox"].toggle + label{
    box-sizing: border-box;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    padding:2px;
    background-color: #c0ceda ;
    transition: all 0.5s ;
    margin: 20px 10px;
}
input[type="checkbox"].toggle + label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: calc(1.5rem - 4px);
    width: calc(1.5rem - 4px);
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s ;
}
input[type="checkbox"].toggle:checked + label {
    background-color: #d35379 ;
}
input[type="checkbox"].toggle:checked + label::before {
margin-left: 1.5rem ;
}
.se-connecter, .inscription{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ******************************* */
/* button */
/* ******************************* */
.se-connecter .btn-se-connecter, .inscription .btn-inscription{
    display: block;
    background-color: #d35379;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 10px 0;
    margin: 50px 0;
    /* outline: none; */
    cursor: pointer;
    transition: transform 0.5s;
}
.se-connecter .btn-se-connecter:hover, .inscription .btn-inscription:hover{
    transform: scale(1.05);
}
.newsletter{
    height: 100px;
}

/* ********** */

/* @media screen and (min-width:460px) {
    .superposition h1{
        width: 600px;
        right: 0px;
    }
    .connexion, .nouveau-compte{
        width: 75%;
    }
} */

@media screen and (max-width: 860px){
    h2{
        text-align: left;
    }
    .connexion a, .nouveau-compte a{
        width: 90%;
        text-align: left;
    }
    .se-connecter .btn-se-connecter, .inscription .btn-inscription{
        width: 90%;  
    }
    #inputsearchmobile{
        padding: 5px;
    }
}