@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;  
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
}
.superposition{
    height: 160px;
    width: 100%;
    margin-bottom: 100px;
    background-image: url("../medias/img/rectangle_22.jpg");
    background-repeat: none;
    background-size: cover;
    position: relative;
}
.superposition h1{
    display: block;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    padding: 5px 0;
    line-height: 2.8rem;
    background-color: black;
    position: absolute;
    top: 45px;
}
.superposition::after{
    content:"";
    display: block;
    width: 100%;
    height: 60px;
    background-image: url("../medias/img/dechirure-cv.webp");
    /* background-size: cover; */
    position: absolute;
    top: 120px;
}
main{
    width: 90%;
    margin: 0 auto;
}
.atelier_lilo{
    width: 100%;
    margin: 0 auto;
}
h2{
    display: block;
    text-align: center;
    font-size: 2.25rem;
    padding: 20px 0;
}
.adresse h2{
    margin: 70px;
}
.adresse{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 70px auto;
    /* background-color: white; */
    overflow: hidden;
}
h4{
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}
.adresse .polaroid-shop{
    height: 330px;
    width: 290px;
    margin: 60px auto 40px;
    background-color: rgb(243, 242, 242);
    transform: rotate(7deg);
    z-index: 50;
    scale: 10%;
}
.adresse .polaroid-shop .shop{
    display: block;
    height: 250px;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    transform: rotate(.1deg);
    position: relative;
}
.adresse .polaroid-shop .adhesive{
    height: 118px;
    width :130px;
    position: relative;
    transform: rotate(-70deg);
    bottom: 320px;
    left: 90px;
}   
hr{
    width: 50%;
    margin: 100px auto 70px;
}
.atelier_lilo hr{
    width: 20%;
    margin: 10px auto;
}
h2 + hr{
    width: 20%;
    margin: 10px auto;
}
.adresse img{
    margin-top: -27px ;
    width: 75%;
}
.adresse span{
    display: block;
    line-height: 1.5rem;
    text-align: center;
    padding: 20px 0;
}
.points-vente{
    width: 100%;
}
.points-vente ul{
    display: block;
    width: 90%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin: 70px auto 0;
}
.points-vente img{
    display: block;
    height: 130px;
    width: 130px;
    padding: 20px 0 30px;
    margin: 0 auto;
}
.points-vente li{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding:20px 5ùpx 40px 5px;
    margin-top: 20px;
	width : 145px;
}
.points-vente li span{
    display: block;
    height: 50px;
    text-align: center;
    line-height: normal;
    margin: auto;
    padding: 5px;
}
.points-vente li span:nth-child(3){
    font-weight: bold;
}

/* ***************************************** */
/* FAQ-CONTACT */
/* ***************************************** */

.tabs{
    display: block;
    overflow: hidden;
    margin: 70px auto 0;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab{
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border: 1px solid black;
    cursor: pointer;
}
.tab-label:hover{
    background: #474747;
}
.tab-label::after{
    content: "\276F";
    width: 10px;
    height: 10px;
    text-align: center;
    transition: all .35s;
}
.tab-content{
    max-height: 0;
    padding: 0 10px;
    color: #2c3e50;
    background: white;
    transition: all .35s;
}
.tab input:checked + .tab-label{
    background: #1a252f;
    color: white;
}
.tab input:checked + .tab-label::after{
    transform: rotate(90deg);
}
.tab input:checked ~ .tab-content{
    max-height: 100vh;
    padding: 10px;
}
.tab input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.contactez-nous{
    display: flex;
    flex-direction: column;
    width: 100%;
}   
.corps-formulaire{
    width: 100%;
    margin: 70px auto 0;
}
.contactez-nous .groupe{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.contactez-nous .corps-formulaire .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid black;
    outline-color: #d35379;
    font-size: 1rem;
}
.contactez-nous .groupe textarea{
    height: 150px;
    resize: none;
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    outline-color: #d35379;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
textarea::placeholder {
    color: #d35379;  
}
.contactez-nous .pied-formulaire a{
    display: block;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 10px 0;
    margin: 70px auto;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s;
}
.contactez-nous .pied-formulaire a:hover{
    transform: scale(1.03);
    background-color: #d35379;
    color: white;
}
.newsletter{
    height: 100px;
}

/* ************ */

@media screen and (min-width: 460px) {
    .contactez-nous .pied-formulaire a{
        width: 100%;
    }
    .adresse{
        /* height: 450px; */
        width: 100%;
    }
    .faq{
        width: 75%;
        padding: 20px;
        margin: 70px auto;
        border: 1px solid black;
    }
    .contactez-nous{
        width: 100%;
        margin: 0 auto;
    }
    .corps-formulaire{
        width: 75%;
        border: 1px solid black;
        padding: 20px;
    }
    .contactez-nous .pied-formulaire a{
        width: 300px;
        margin-right: 0;
    } 
}    

@media screen and (min-width: 768px) {
    .superposition h1{
        width: 600px;
        margin-right: 0px;
        right: 0px;
    }
    h2{
        display: block;
        width: 50%;
        margin: 0 auto;;
    }
    .points-vente{
        width: 70%;
        margin: 0 auto;
    }
    .faq{
        width: 50%;
        padding: 20px;
        margin: 70px auto;
        border: 1px solid black;
    }
    .contactez-nous{
        width: 100%;
        margin: 0 auto;
    }
    .corps-formulaire{
        width: 50%;
        border: 1px solid black;
        padding: 20px;
    }
}
@media screen and (min-width: 1050px) {
    .adresse{
        flex-direction: row;
        height: 450px;
        width: 70%;
        margin: 70px auto;
    }
    .carte-visite{
        margin: auto;
    }
    .polaroid-shop{
        margin: auto;
    }
    .points-vente{
        width: 60%;
        margin: 0 auto;
    }
    .contactez-nous .pied-formulaire a{
        width: 300px;
        margin-right: 0;
    }
}