@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0; 
    padding: 0; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.superposition{
    height: 160px;
    width: 100%;
    margin-bottom: 100px;
    background-image: url("../medias/img/rectangle_22.jpg");
    /* background-image: url("../images/rectangle_22.jpg"); */
    background-repeat: none;
    background-size: cover;
    position: relative;
}
.superposition h1{
    display: block;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 5px 0;
    line-height: 2.8rem;
    background-color: black;
    position: absolute;
    top: 45px;
}
.superposition::after{
    content:"";
    display: block;
    width: 100%;
    height: 60px;
    background-image: url("../medias/img/dechirure-cv.webp");
    /* background-image: url("../images/dechirure_cv.webp"); */
    /* background-size: cover; */
    position: absolute;
    top: 120px;
}
h2{
    text-align: center;
    margin: 100px;
}
.bienvenue{
    height: auto;
}
.bienvenue h5{
    display: block;
    font-size: 1.7rem;
    text-align: center;
    margin: 75px;
}
.bienvenue img{
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 115px;
    margin: 0 auto;
}
main{
    width: 90%;
    margin:  0 auto;
}
h3{
    padding: 10px 5px;
    margin: 10px 0;
}
.titre-coordonnees, .titre-commandes, .titre-mp, .titre-supprimer-compte{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.titre-coordonnees img, .droite img, .titre-commandes img, .titre-mp img, .titre-supprimer-compte img{
    height: 30px;
    width: 30px;
    padding: 10px;
}
.coordonnees .sous-section, .commandes .sous-section, .supprimer-compte .sous-section{
    margin-top: 40px;
    margin-bottom: 70px;
}
.mp .sous-section{
    margin-top: 30px;
    margin-bottom: 70px;
}
.coordonnees ul, .commandes ul{
    width: 100%;
    margin: 10px;
}
.coordonnees li:nth-child(1), .commandes li:nth-child(1){
    font-weight: bold;
}
.gauche, .droite{
    width: 100%;
}
.coordonnees ul, .coordonnees li, .commandes ul, .commandes li{
    list-style-type: none;
    font-size: 18px;
}
.coordonnees a, .commandes a{
    color: black;
    text-decoration: underline;
}
.droite ul:nth-child(3){
    display: flex;
    align-items: center;
}
.droite ul:nth-child(3) img{
    padding: 0px;
}
.droite ul:nth-child(3) a{
    color: #d35379;
}
.mp .sous-section{
    flex-direction: column;
}
form p{
    display: flex;
    flex-direction: column;
}
form label{
    padding: 5px;
    margin-top: 20px; 
}
form input{
    padding: 10px 5px 10px 30px;
    border: 1px solid black;
    font-size: 1rem;
}
input::placeholder {
    font-size: .9rem;
    opacity: .5;
    color: #d35379;
    padding-left: 5px;
}
.confirmation .conf-btn-2, .suppression .btn-non{
    display: block;
    width: 300px;
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border: 3px solid black;
    padding: 10px 0;
    margin-top: 70px;
    /* outline: none; */
    cursor: pointer;
    transition: transform 0.5s;
}
.confirmation .conf-btn-1, .suppression .btn-oui{
    display: block;
    width: 300px;
    color: black;
    background-color: white;
    text-decoration: none;
    border: 3px solid black;
    font-size: 1rem;
    text-align: center;
    padding: 10px 0;
    margin-top: 70px;
    /* outline: none; */
    cursor: pointer;
    transition: transform 0.5s;
} 
.confirmation .conf-btn-2:hover, .suppression .btn-non:hover{
    color: white;
    background-color: #d35379;
    border: 3px solid #d35379;
    transform: scale(1.05);
}
.confirmation .conf-btn-1:hover, .suppression .btn-oui:hover{
    color: #d35379;
    background-color: white;
    border: 3px solid #d35379;
    transform: scale(1.05);
}
.confirmation, .suppression{
    display: flex;
    justify-content: space-between;
}
.message-confirmation{
    height: 32.5px;
    margin-top: 50px;
}
.mp span{
    display: none;
    padding: 5px;
    color: #d35379;
    text-align: center;
}
.supprimer-compte .sous-section p{
    padding: 5px;
}
.newsletter{
    height: 100px;
}

/* ********** */
@media  screen and (min-width: 460px){
    main{
        width: 75%;
        margin: 0 auto;
    }
}
.superposition h1{
    width: 600px;
    margin-right: 0px;
    right: 0px;
}

@media screen and (min-width:860px) {
    main{
        width: 50%;
        margin: 0 auto;
        padding: 20px;
    }
    .container{
        padding: 20px;
        border: 1px solid black;
    }
    .gauche, .droite{
        width: 50%;
    } 
    .coordonnees .sous-section, .commandes .sous-section{
        display: flex;    
    } 
    .titre-coordonnees, .titre-commandes, .titre-mp, .titre-supprimer-compte{
        justify-content: left;
    }
}
