@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
html {
    scroll-behavior: smooth;
}

.GE2 {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 15px 0;
    height: auto;
    margin-top: 150px;
}

.GE2:hover {
    background-color: #D35379;
}


/* * body {
    width: 100%;
    margin: 0;
}

#txtconnexion{
    display: block !important;
}

#godash0{
    display: none;
}

.pastille-type1{
    background-color: grey;
} */

main{
    margin: 0;
    padding: 0;  
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.hachure{
    width: 100%;
    height: 300px;
    background-image: url(../medias/img/rectangle_22.jpg); 
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
    position: relative;
}
.hachure::after{
    width: 100%;
    height: 60px;
    content: "";
    display: block;
    background-image: url(../medias/img/dechirure_lilo.png);
    transform: rotate(180deg);
    position: absolute;
    top: 270px;
}
.phrase-type{
    height: 300px;
    width: 100%;
    /* margin: 20px; */
    position: absolute;
}
.phrase-type h2{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Special Elite', cursive;
    font-size: 2.3rem;
    line-height: 1.9rem;
    text-align: center;
    padding: 14px 5px 2px;
    margin: 15px auto;
    position: absolute;
}
.hach-a, .hach-a-bis{
    display: none;
}
.phrase-type .hach-first{
    width: 910px;
    transform: rotate(-2deg);
    top: 20%;
    right: 6%;
}
.phrase-type .hach-b{
    display: block;
    width: 440px;
    top: 60%;
    right: 25%;
} 


/*-------LlLO PRESENTATION-------*/


.indexbyloane{
    width: 100%;
    margin: 0 auto;
}
.lilo{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 200px auto;
}
.lilo-photo {
    display: block;
    width: 470px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 46%), 10px 9px 20px 11px rgba(0, 0, 0, 0.116);
    margin-top: 100px;
}
.logo-lilo {
    width: 450px;
    padding-bottom: 50px;
}
.text-lilo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}
.spanindexbyloane{
    /* width: 470px; */
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin: 0 auto;
}
.spanindexbyloane p{
    padding: 10px;
}


/* --------------------- */


.block-pola{
    width: 100%;
    background-color: #201a25;
    padding-bottom: 100px;
}
.block-pola::before{
    width: 100%;
    height: 60px;
    content: "";
    display: block;
    background-image: url(../medias/img/dechirure_lilo.png);
    background-repeat: repeat-x;
}
.block-pola h1{
    display: block;
    width: 600px;
    color: white;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    font-family: 'Special Elite', sans-serif;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 43px 0 28px;
    margin: 100px auto 0;
}
.polaroid{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.box-1a, .box-2a, .box-3a{
    background-color: rgb(240, 235, 235);
    padding: 25px;
    position: relative;
}
.collant1{
    width: 250px;
    height: 200px;
    position: absolute;
    top: -111px;
    left: 61px;
    transform: rotate(354deg);
}
.collant2{
    width: 250px;
    height: 200px;
    position: absolute;
    top: -106px;
    left: 52px;
    transform: rotate(344deg);
}
.collant3{
    width: 250px;
    height: 200px;
    position: absolute;
    top: -111px;
    left: 61px;
    transform: rotate(171deg);
}
h3{
    color: black;
    margin-bottom: 16px;
    margin-top: 7px;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.indexbyloane-a{
    width: 200px;
    display: block;
    color: white;
    background-color: #373737;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 10px 0;
    margin-left: 0;
    cursor: pointer;
    transition: transform 0.5s;
}
.indexbyloane-a:hover{
    transform: scale(1.03);
    background-color: #D35379;
}
.box-1a {
    transform: rotate(3deg);
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 46%), 10px 9px 20px 11px rgb(0 0 0 / 25%);
    transition: transform 0.5s;
}
.box-1a:hover{
    transform: rotate(5deg);
}
.box-2a{
    transform: rotate(1deg);
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 46%), 10px 9px 20px 11px rgb(0 0 0 / 25%);
    transition: transform 0.5s;
}
.box-2a:hover{
    transform: rotate(5deg);
}
.box-3a{
    transform: rotate(-4deg);
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 46%), 10px 9px 20px 11px rgb(0 0 0 / 25%);
    transition: transform 0.5s;
}
.box-3a:hover{
    transform: rotate(5deg);
}
.box-1b, .box-2b, .box-3b{
    width: 300px;
    color: white;
    padding: 20px 0;
    margin: 50px 0 0;
}
.rouge-levre{
    display: block;
    width: 280px;
    margin: 0 100px 0 auto;
    transform: rotate(10deg);
}
.rose2 {
    width: 500px;
    display: block;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    margin: 70px auto;
    cursor: pointer;
    border: 3px solid white;
    transition: transform 0.5s;
}
.rose2:hover{
    transform: scale(1.03);
    color: #D35379;
    border: 3px solid #D35379;
}
.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.espace-extra{
    height: 150px;
}

@media (max-width: 1300px) {
    .lilo {
        flex-direction: column-reverse; 
        width: 90%;
        /* ***** */
    }
    .text-lilo{
        margin: 0 auto;
    }
    .spanindexbyloane p{
        margin: 0 auto;
    }
    .polaroid{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .box-badges, .box-papeterie{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px auto;

    }
    .box-bijoux{
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 50px auto;
    }
    .box-1a, .box-2a, .box-3a{
        width: 279px;
        background-color: rgb(240, 235, 235);
        padding: 25px;
        position: relative;
    }
}


@media (max-width: 1045px) {
    .hach-first{
        display: none;
        }
    .hach-a{
        display: block;
        width: 370px;
        top: 13%;
        right: 15%;
        position: absolute; 
        }
    .hach-a-bis{
        display: block;
        width: 530px;
        top: 35%;
        right: 10%;
        transform: rotate(-3deg);
        position: absolute;
        }
    .hach-b{
        display: block;
        width: 160px;
        top: 50%;
        right: 15% ;
        position: absolute;
        }
} 


@media (max-width: 975px) {
    .box-badges, .box-bijoux, .box-papeterie{
        flex-direction: column;
        justify-content: center;    
    }
}


@media (max-width: 768px) {
    .block-pola h1{
        width: 300px;
    }
    .lilo-photo{
        width: 80%;
    }
}


@media (max-width: 680px) {
    .GE2{
        width: 90%;
    }

    .logo-lilo{
        width: 80%;
    }
    .polaroid{
        overflow: hidden;
    }
    .phrase-type .hach-first{
        display: none;
    }
    .phrase-type{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .phrase-type h2{
        position: static;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding: 8px 0 0px;
        margin: 15px auto;
    }
    .hach-a{
        position: static;
        width: 235px;
     }
    .hach-a-bis{
        position: static;
        width: 335px;
    }
    .phrase-type .hach-b{
        position: static;
        width: 270px;
    }
    .rose2{
        width: 90%;
    }
}

@media (max-width: 360px) {
    .phrase-type .hach-first{
        display: none;
    }
    .phrase-type{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .phrase-type h2{
        position: static;
        font-size: 1rem;
        text-align: center;
    }
    .hach-a{
        position: static;
        width: 160px;
     }
    .hach-a-bis{
        position: static;
        width: 230px;
    }
    .phrase-type .hach-b{
        position: static;
        width: 190px;
    } 
    .block-pola h1{
        width: 250px;
    } 
}

