/* 01 - IMPORT DES POLICES UTILISÉE DANS l'ENSEMBLE DU SITE */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* 02- ON STANDARDISE LE BODY ET ON LE MET À ZERO */

.show {
  display: block;
}

#allb1, #allb2, #allb3, #allb4{
  background-color: white;
}

#myBtnContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cetor{
  width: 100%;
  text-align: center;
  padding: 50px 0; 
}

h2.petitsonge{
margin-bottom: 20px;
padding-top: 40px;
font-size: 30px;
font-weight: 500;
line-height: 28px;
color: #7a7a7a;
font-family: "Roboto Mono", sans-serif;
text-align: left;
}

span.datum{
  text-align: left;
}

.btn {
  width: 10%;
  border: #7A7A7A 1px solid;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  background-color: transparent;
  padding: 10px 5px;
  padding-left: 5px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  color: #7A7A7A;
  background-color: white;
}

.filterDiv {
  display: none;
  /* Hidden by default */
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.superposition{
  height: 160px;
  width: 100%;
  margin-bottom: 100px;
  background-image: url("../medias/img/rectangle_22.jpg");
  background-repeat: none;
  background-size: cover;
  position: relative;
}
.superposition h1{
  display: block;
  width: 600px;
  color: white;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 5px 0;
  line-height: 2.8rem;
  background-color: black;
  position: absolute;
  top: 45px;
  right: 0px;
  margin: auto;
}
.superposition::after{
  content:"";
  display: block;
  width: 100%;
  height: 60px;
  background-image: url("../medias/img/dechirure-cv.webp");
  position: absolute;
  top: 120px;
}

/* [ALEX] - CSS PROPRE À LA PAGE [ACTUS] */

#filtresimple {
  display: flex;
  width: 90%;
  background-color: red;
  justify-content: space-between;
  margin: 0 auto;
}

#flexcorrector {
  display: block !important;
}

.all#flexcorrector {
  margin: 10px;
}


.filtresimpleli {
  padding: 25px;
  background-color: #111111;
}

.filtresimplelien {
  padding: 25px;
  background-color: #111111;
}

main#actus {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.buttonsactus {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 50px;
}

#b1actus {
  background-color: #E5E5E5;
  cursor: pointer
}

#b2actus {
  background-color: hotpink;
  cursor: pointer
}

#b3actus {
  background-color: #000000;
  cursor: pointer
}

.buttonactus {
  cursor: pointer;
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  border-radius: 40px;
  background: #f0efef;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.335);
  transition: .3s;
}

.buttonactus:after {
  content: '';
  display: block;
  border-radius: 50px;
  ;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  position: absolute;
  background: rgb(255, 255, 255);
  box-shadow: 2px 1px 1px 0 rgba(0, 0, 0, 0.335);
  transition: .3s;
}

.buttonactus span {
  position: absolute;
  top: 25px;
}

.buttonactus.checked {
  background: hotpink;
}

.buttonactus.checked:after {
  transform: translateX(-100%);
  left: calc(100% - 2px);
}

.buttonactus:active:after {
  width: 40px;
}

.margoulin{
  font-family: arial;
}

.active{
  border-color: #FF4070;
  background-color: white;
  color: #FF4070;
  font-weight: bold;
}

.titrearticleactus {
  font-family: 'Roboto Mono', monospace;
  font-weight: 800;
  letter-spacing: 0.4em;
  line-height: 1.5;
}

.voir_plus_actu {
  margin: 25px 0px;
  color: white;
  text-decoration: underline;
}

#flexcorrector {
  display: flex;
  flex-direction: column;
}

.voir_plus_actu_black {
  margin: 25px 0px;
  color: black;
  text-decoration: underline;
}

/* Le paragraphe des articles */

p.articlepara {
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: justify;
  /* font-size: 14px; */
  /* margin-bottom: 8px; */
}

.allactus {
  /* max-height:100vh; */
  overflow: hidden;
  transition: .8s ease-in-out;
}

.hidden {
  display: none;
  /* max-height: 0px;
  transition: .5s; */
}

/* section{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap:50px;
  } */

.actutitle {
  text-align: center;
}

/* CI-DESSOUS LE CSS RELATIF AUX CARTES POUR LE TRI DANS LA PAGE ACTU */

.pga_card {
  display: flex;
  position: relative;
  height: 300px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  color: white;
  transition: 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pga_container:nth-child(3n + 1) .pga_card {
  background-color: #242424;
  color: white;
}

.pga_container:nth-child(3n + 2) .pga_card {
  background-color: #E5E5E5;
  color: #111111;
}

.pga_container:nth-child(3n + 3) .pga_card {
  background-color: #D1557A;
  color: white;
}

.pga_image_container {
  width: 35%;
}

.pga_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .pga_card:hover{
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.171));
  transform: scale(1.02);
} */

.pga_informations {
  /* font-size: 12px;
  color: black; */
  width: 65%;
  margin: 10px;
  padding: 15px;
}

.spanactus {
  margin-bottom: 25px;
}

.spanactusgris {
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 5px;
}

.spanactusrose {
  font-size: 12px;
  background-color: white;
  color: black;
  padding: 5px;
}

.spanactusblack {
  font-size: 12px;
  background-color: #FF4070;
  color: white;
  padding: 5px;
}

.titrearticleactus {
  font-size: 20px;
  margin-top: 15px;
}

.show {
  display: block;
}

/* CI-DESSOUS TOUT CE QUI CONCERNE LE RESPONSIVE */
@media(max-width:1522px) {
  .btn{
    width: 20%;
  }
}


@media(max-width:1440px) {
  main{
 
  }
  .pga_card {
    height: 360px;
  }
  #textlefter{
    text-align: left;
  }
}



@media(max-width:1200px) {
 

  #flexcorrector {
    margin: 10px;
    width: 65%;
    padding: 15px;
  }

  main#actus {
    display: flex;
    flex-wrap: wrap;
  }

  .pga_card {
    height: auto;
  }
}

@media(max-width:768px) {
  #flexcorrector {
    margin: 10px;
    width: 65%;
    padding: 15px;
  }
.superposition h1{
  width: 100%;
  margin: auto;
}

.btn{
  width: 95%;
  margin: 10px 2px;
}
}

@media(max-width:609px) {
  .pga_card{
    height: auto;
    padding-bottom: 15px;
  }

  .superposition{
   margin-bottom: 10px;
  }

  .pga_image_container{
    width: auto;
    height: 250px;
  }
  .pga_informations{
    width: 80%;
    text-align: left;
  }
  .pga_card{
    flex-direction: column;
  }
  /* .superposition h1 {
    width: 600px;
    margin-right: 0px;
    right: 0px;
  } */
  p.articlepara{
    width: 100%;
    text-align: justify;
  }
  #myBtnContainer {
  flex-direction: column;
  width: 90%;
}
.btn{
  width: 90%;
}
}


