@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*1ère partie= rose pale*/
.newsletter{
    display: flex;
    width: 695px;
    background-color: #f3dde3;
    margin: 0 auto;
  
}
/*Ne manquez pas...=h2*/
h2{
    padding-left: 65px;
    color:white;
    font-family:'Montserrat', sans-serif;
    font-size: 38px;
    display: block;

}
/*Abonnez-vous..=h3*/
h3{
    font-family:'Montserrat', sans-serif;
    padding-left: 65px;
    
   
}
/*2ème partie= rose fonce*/
.box2{
    height: 82px;
    padding-left: 65px;
    margin-right: -300px;
    background-color: #e6b3c1bd;

}
/*Inscivez vous=h4*/
h4{
    margin-top: 0px;
    padding-top: 11px;
    margin-left: 85px;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: white;

}
/*mail ensemble*/
.fields{
    display: flex;
    padding-top: 35px;
    height: 28px;
   
}
/*mail case*/
.fields input{
    width:280px;
    border: none;
    font-family: "Montserrat", sans-serif;
   
}
/*logo enveloppe*/
.logoenveloppe{
    padding-top: 0px;
    padding-left: 3px;
    width: 25px;
    border-bottom-right-radius: 0px;
    position: relative;
}
/*bouton mail*/
button{
    border: none;
    cursor: pointer;
    background-color: black;
   
 
}

/*3eme partie: image (machine à écrire)*/
img{
    display: flex;
    border-bottom-right-radius: 60px;
    width: 300px;
    padding-top: 27px;

}

  
  /*Responsive: 
  Sur les écran de 520px de large ou moin, les colonnes s'empile les unes sur les autres */

@media (max-width: px){
    .newsletter { 
      width: 100%;
     
    }
    .h2,.h3{
        display:block;
    }
    .box2{
        display:block;
    }
    h4{
        display: block;
        position: initial;
        margin: 0px;

    }
   .email{
       display: flex;
   }
    .caseemail{
        
        display: block;

    }
    .button1{
        margin-top: 0px;
    }
    .enveloppe,.button1{
        display: inline-block;
      
     
    }
    .img{
        display:block;
    }

}
/*case pour écrire l'adresse mail*/
/*.caseemail{
    height: 27px;
    width: 237px;
    background-color: rgb(252, 249, 249);
    border:none;
    vertical-align: middle;
    display:inline-block;
}/*bouton envoi*/
/*.button1{
    cursor: pointer;
    height:30px;
    width: 46px;
    margin-top: 56px;
    background-color:black;
    border: none;
    vertical-align:bottom;

}
