@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*1ère partie= rose pale*/
.newsletter {
    display: flex;
    width: 695px;
    background-color: #f3dde3;
    margin: 0 auto;
    position: relative;

}

/*Ne manquez pas...=h2*/
.h2new {
    padding-left: 20px;
    background: transparent;
    text-align: left;
    margin: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    display: block;

}

/*Abonnez-vous..=h3*/
.h3new {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    font-size: 14px;
    font-weight: normal;

}

/*2ème partie= rose fonce*/
.bloc2 {
    height: 100px;
    background-color: #e6b3c1bd;
    display: flex;
    width: 695px;
    margin: 0 auto;
}

/*Inscivez vous=h4*/
.h4new {
    padding-left: 135px;
    margin: 0;
    padding-top: 10px;
    position: absolute;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: white;

}

/*mail ensemble*/
.fields {

    padding-left: 65px;
    display: flex;
    padding-top: 35px;
    height: 28px;
    font-size: 15px;

}

/*mail case*/
.fields input {
    width: 60%;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;

}

/*logo enveloppe*/
.logoenveloppe {
    padding: 5px;
    border-bottom-right-radius: 0px;
    position: relative;
}


/*bouton mail*/
button#newb {
    border: none;
    cursor: pointer;
    background-color: black;


}

/*3eme partie: image (machine à écrire)*/
img#imgnew {
    width: 250px;
    bottom: 0;
    right: 0;
    position: absolute;
}

img#imgnew2 {
    width: 250px;
    bottom: 0;
    right: 0;
    position: absolute;

}

input:focus {
    box-shadow: none;
}

/* BOUTON ALEX V2 */

main-newsletter {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 150px;
}

#newsletter2 {
    width: 40%;
    height: 250px;
    background-color: #f3dde3;
    position: relative;
}

#bloc2 {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*mail ensemble*/
.fields {
    background-color: #e6b3c1bd;
    ;
    padding: 35px 0 35px 20px;
    display: flex;

    height: 28px;
    font-size: 15px;

}

/*mail case*/
.fields input {
    width: 60%;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;

}

.h4new {
    padding-left: 20px;
}

/*logo enveloppe*/
.logoenveloppe {
    padding: 5px;
    border-bottom-right-radius: 0px;
    position: relative;
}

/*bouton mail*/
button#newb {
    border: none;
    cursor: pointer;
    background-color: black;


}

/*Responsive: 
  Sur les écran de 520px de large ou moin, les colonnes s'empile les unes sur les autres */
@media (max-width: 1700px) {
    main-newsletter {
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding: 150px 0 0 0;
        width: 100%;
    }
    #newsletter2 {
        width: 50%;

    }
}

@media (max-width: 1300px) {
    #newsletter2 {
        width: 60%;

    }
}

@media (max-width: 1200px) {
    #newsletter2 {
        width: 70%;

    }
}

@media (max-width: 900px) {
    #newsletter2 {
        width: 80%;

    }
}

@media (max-width: 768px) {
    #newsletter2 {
        width: 100%;

    }

    .bloc2 {
        width: 174%;
    }

    .fields input {
        width: 60%;
    }

    img#imgnew2 {
        width: 200px;
    }
}

@media (max-width: 540px) {
    .fields input {
        width: 50%;
    }

    img#imgnew2 {
        width: 150px;
    }
}

@media (max-width: 400px) {
    #newsletter2 {
        width: 100%;
        height: 250px;
    }

    .fields input {
        width: 90%;
    }

    img#imgnew2 {
        display: none;
    }
}